* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #081b29;
    color: #ededed
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    alt: logo;
}

.logo:hover {
    background: #081b29;
    opacity: .5;
    animation-delay: 4s;
    transition: 3s;
}

.logo:not(:hover) {
    background: transparent;
    animation-delay: 4s;
    transition: 3s;
}

.logo-home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 90vh;
    /*background: url('backgroundimg.jpg') no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}


.home-logo img {
    max-height: 25rem;
    width: 18rem;
    object-fit: fill;
    margin-top: 10rem;
    border-radius: 50%;
   
}

.home-logo img:hover {
    cursor: pointer;
    background: #081b29;
    opacity: .3;
    animation-delay: 4s;
    transition: 3s;
}

.home-logo img:not(:hover) {
    background: transparent;
    animation-delay: 4s;
    transition: 3s;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards infinite;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content ul {
    list-style: disc;
}

.home-content ul::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 2s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    margin-top: 1rem;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #00abf0;
    border: 2px solid#00abf0;
    border-radius: 50px;
    font-size: 19px;
    background: transparent;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #081b29;
}


.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}


@media (min-width: 1500px){
.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    border: 2px solid;
    border: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}


.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

}

@media (max-width: 1500px){
    .home-imgHover {
        position: absolute;
        top: 0;
        right: -30px;
        width: 60%;
        height: 15%;
        background: transparent;
        border: 2px solid;
        border: transparent;
        transition: 3s;
        animation: manipActiveHover .1s forwards;
        animation-delay: 4s;
        pointer-events: none;
    }
    
    .home-imgHover:hover {
        background: #081b29;
        opacity: .8;
    }
    
    
    .home-imgHover::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 130%;
        height: 100%;
        background: #081b29;
        animation: showRight 1s ease forwards;
        animation-delay: 3s;
        z-index: 100;
    }
    
    }

/* KEYFRAMES ANIMATION */

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes showUP {
    100% {
        height: 0;
    }
}


@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

.about-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    margin-top: 10%;
    gap:2rem;
}

.about-content h1 {
    color: #00abf0;
    font-size: 5vmin;
    margin-top: 5%;
}

.about-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #081b29;
    animation: showUP 5s ease-in forwards;
    animation-delay: 0;
    z-index: 2;
}



.acadamics-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    margin-top: 10%;
    gap:2rem;
}


.acadamics-content h1 {
    color: #00abf0;
    font-size: 5vmin;
    margin-top: 5%;
}

.acadamics-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #081b29;
    animation: showUP 5s ease-in forwards;
    animation-delay: 0;
    z-index: 2;
}


.contact-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    margin-top: 10%;
    gap:2rem;
}

.contact-content h1 {
    color: #00abf0;
    font-size: 5vmin;
    margin-top: 5%;
}


.contact-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #081b29;
    animation: showUP 3s ease-in forwards;
    animation-delay: 0;
    z-index: 2;
}


.contact-links {
    display:flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.contact-links a {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-decoration: none;
    background: transparent;
    color: white;
    margin-top: 3rem;
    width: 15%;
    align-items: center;
    justify-content: center;
    border: solid .2rem;
    border-radius: 50%;
    padding: 0.3rem;

}

.contact-links label {
    display: flex;
    color: solid white;
    text-decoration: overline;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    margin-top:0.5rem;
    
}

.contact-links a:hover {
    background-color: #00abf0;
    transition: 2s;
    color: #000000de;
}

.contact-links a:not(:hover) {
    background-color: transparent;
    transition: 1s;
}



.projects-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    margin-top: 10%;
    gap:2rem;
}


.projects-content h1 {
    color: #00abf0;
    font-size: 5vmin;
    margin-top: 5%;
}

.projects-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: #081b29;
    animation: showUP 5s ease-in forwards;
    animation-delay: 0;
    z-index: 2;
}




.project {
    display: flex;
    position: relative;
    height: 60%;
    width: 100%;
    gap: 5rem;  
    overflow-x: auto;  
    scroll-snap-stop: normal;
    text-align: center;
}


.project img {
    height: 18rem;
    width: 18rem;
    background-size: fill;
    margin-top: 0.5rem;
    border-radius: 50%;
    
}

.project a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 1000;
}

